@model _04_Data.Data.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naviera.shipperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naviera.shipperName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
