@model _04_Data.Data.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.supplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.supplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
