@*@model _04_Data.Data.DetallePedido*@
@model _04_Data.ViewModels.PedidosProductosDetallePedidosViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DetallePedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.detallePedido.OrderDetailID)

        <div class="form-group">
            @Html.LabelFor(model => model.detallePedido.OrderID, "OrderID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.detallePedido.OrderID, new SelectList(Model.pedidos, "OrderID", "OrderDate", Model.detallePedido.OrderID), "- Seleccioneu -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.detallePedido.OrderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detallePedido.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.detallePedido.ProductID, new SelectList(Model.productos, "ProductID", "ProductName", Model.detallePedido.ProductID), "- Seleccioneu -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.detallePedido.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detallePedido.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detallePedido.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detallePedido.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
